@import "../colors"

@keyframes bubble
  0%
    transform: scale(1, 1)
    opacity: 1
  100%
    transform: scale(1.3, 1.3)
    opacity: 0

.headerContainer
  background-color: $primary
  border-radius: 500px
  width: 350px
  box-shadow: 0px 0px 5px 0px black, 0px 0px 5px 0px #333 inset
  padding: 15px 30px
