@import "../colors"

.App
  font-family: 'Roboto', sans-serif
  background-color: $background
  padding: 25px
  margin: 25px
  border: 2px solid $background
  text-align: center

.HeaderContainer
  height: 250px
  width: 250px

.LogoImg
  width: 200px
  height: 200px
