@import "./colors"

html
  height: 100%
  background: $background

body
  margin: 0
  padding: 0
  font-family: sans-serif
  height: 100%
  width: 100%

*
  font-family: 'Roboto'

#root
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
